html, body{
	margin:0;
	padding:0;
}
body
{
	background-image:url("http://www.clipartbest.com/cliparts/yik/k7b/yikk7b6iE.png");
	background-size:80px 60px
	background-repeat:no-repeat;
	background-position:210px 100px;
	background-attachment:fixed;
	background-color: navy;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size:100%;
				}
#side-bar {
	float: left;
	margin:0;
	padding:0;
	position: relative;
	width: 190px;
	height: 800px;
	background-color:#545454;
	border-style:solid;
	border-color: white;
	border-radius: 0px 0px 5px 0px;
	border-width:10px 0px 10px 0px;
	box-shadow: 0px 0px 20px black;
	}


#sidebar_headerText {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

#sidebar_div {
	background-color: white;
	height: 3px
}
ul#nav li{
	border-bottom: 1px solid white;
	list-style: none; 
	padding: 10px 0px;
	text-align:left;
	text-decoration: none;
	font-size: .9em;
	color: white;
		}

ul#nav li a:visited {
	color: white;
	text-decoration: none;
	}
ul#nav li a:hover {
	color: orange;
	text-decoration: none;
	}	
	
ul#nav li a:active {
	color: grey;
	text-decoration: none;
	}

H1{
	color:orange;
	font-size:2.5em;
	text-align:left;
}

#forTheTitle{
	margin:12px 0px 0px 0px;
	padding:0;
	position: absolute;
	left:250px; 
	width: 600px;
	text-align: center;
	border-radius: 5px;
	background-color:#545454;
	box-shadow: 10px 10px 20px black;
}

#contentblock{
	position: absolute;
	left:250px; 
	top:  75px;
	width: 600px;
	height: 100%;
	background-color:#545454;
	border-style:solid;
	border-radius: 5px;
	border-color: white;
	border-width:0px 0px 10px 0px;
	box-shadow: 10px 10px 20px black;
}